* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
.box {
  margin: 10px;
}
.box .nav td {
  text-align: center;
  background-color: #bbbbbb;
}
.box tr td a {
  position: relative;
  top: -1px;
  float: left;
  width: 35px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  background-color: #07ff07;
  border-radius: 5px 0 0 5px;
}
.box tr td button {
  position: relative;
  top: -1px;
  float: left;
  width: 35px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  background-color: #ff5858;
  border-radius: 0 5px 5px 0;
}
